= render :partial => 'tabs'
  
.article
  %h2 Таблица экономии
  %p Примерная потребляемая мощность электроприборов и ориентировочный процент экономии электроэнергии при использовании статических энергосберегающих устройств.

  %table
    %tbody
      %tr
        %td{ :colspan => '3' } Бытовые электроприборы
      %tr
        %td  Наименование потребителя
        %td  Мощность, ВА
        %td  Ориентировочная экономия, %
          
      %tr
        %td  Кондиционер
        %td  1000-3000
        %td  до 20-30

      %tr
        %td  Газовый котел с электродвигателем
        %td  200-900
        %td  до 15-20
          
      %tr
        %td  Холодильники, морозильныекамеры
        %td  150-1500
        %td  до 20-35
          
      %tr    
        %td  Лампы дневного света
        %td  12-500
        %td  до 35-50
          
      %tr
        %td  Стиральная машина
        %td  300-700
        %td  до 15-20
          
      %tr
        %td  Посудомоечная машина
        %td  1000-2700
        %td  до 15-20
          
          
      %tr
        %td Компьютер
        %td 400-750
        %td до 15-20

      %tr
        %td Фен для волос
        %td 450-2000
        %td до 20-25

      %tr
        %td Телевизор
        %td 100-400
        %td до 15-20

      %tr
        %td Электроплита
        %td 1100-6000
        %td до 35-40

      %tr
        %td СВЧ–печь
        %td 1500-2000
        %td до 35-40

      %tr
        %td Утюг
        %td 500-2000
        %td до 15-20

      %tr
        %td Тостер
        %td 600-1500
        %td до 10-15

      %tr
        %td Кофеварка
        %td 800-1500
        %td до 15-20

      %tr
        %td Обогреватель
        %td 1000-2400
        %td до 25-35

      %tr
        %td Электрочайник
        %td 1000-2000
        %td до 25-35


      %tr
        %td{ :colspan => "3" } ЭЛЕКТРОИНСТРУМЕНТ


      %tr
        %td Дрель
        %td 400-800
        %td до 12-18

      %tr
        %td Перфоратор
        %td 600-1400
        %td до 15-25

      %tr
        %td Дисковая пила
        %td 750-1600
        %td до 20-28


