= render :partial => 'tabs'

#device.clear
  .feature{ :style => 'margin-left: 60px;'}
    %h3 Экономит деньги
    %p <a href="/device/economy">До 35%</a> платы за электроэнегию остаются в семейном бюджете.
     
  .feature{ :style => 'margin-left: 400px;'}
    %h3 Продлевает жизнь электроприборов
    %p Нейтрализуя помехи и сглаживая скачки напряжения, уменьшает нагрузку и износ бытовой техники.
    
  .feature
    %h3 Сохраняет экологию
    %p Уменьшая потребление электричества, экономит природные ресурсы.

  .feature{ :style => 'margin-left: 490px;' }
    %h3 Сертифицирован РосТестом
    %p Качество и безопасность прибора подтверждены <a href="/device/rostest">сертификатом</a>.

  .feature{ :style => 'margin-left: 70px;' }
    %h3 Футуристичный дизайн
    %p Украсит ваше жилище, заинтересует гостей.


  .feature{ :style => 'margin-left: 50px; margin-top: 80px;' }
    %h3 Заботится о здоровье
    %p Благодаря экономии меньше электричества излучается в виде вредного для человека электромагнитного излучения.

  .feature{ :style => "margin-left: 40px;" }
    %h3 Компактный и лёгкий
    %p Всего 200 грамм — удобно брать с собой на дачу или в гараж.

