= render :partial => 'tabs'

.article
  %p
    %img{ :src => '/images/in_the_wall.jpg', :align => :right }

    <b>Статические энергосберегатели</b> - это энергосберегающие  устройства, позволяющие любому потребителю электричества экономить от 15% до 45% ежемесячных расходов по оплате электроэнергии.
  
  %p Для рационального использования электроэнергии требуется обеспечить экономичные способы ее передачи, распределения и потребления с минимальными потерями. Для этого необходимо исключить из электрических сетей все факторы, приводящие к возникновению потерь.
  %p Одним из них является запаздывание фазы протекающего тока от напряжения при наличии индуктивной нагрузки, поскольку нагрузки в бытовых электросетях носят обычно активно-индуктивный характер. Активная энергия преобразуется в полезную - механическую, тепловую и др. энергии. Реактивная энергия не связана с выполнением полезной работы, а расходуется на создание магнитных полей и создаёт дополнительную нагрузку на силовые линии питания, т.к. она распространяется по сети, не рассеиваясь в активных элементах, а совершая колебательные движения от 	нагрузки к генератору и обратно. Доля потребляемой реактивной мощности в сети, в зависимости от вида полезной нагрузки, может составлять от 15% до 45 % от полного тока нагрузки. Эти 15% - 45% электроэнергии и можно сэкономить, т.к. реактивная мощность наряду с активной мощностью учитывается поставщиком электроэнергии и подлежит оплате потребителем по действующим тарифам.
  
  %p
    %img{ :src => '/images/sd02box.jpg', :align => :right }
    Также, в электросетях часто возникают импульсы напряжения амплитудой от 1000 до 12000 Вольт. Эти импульсы имеют коммутационное и грозовое происхождение. Такие импульсы не измеряются и не контролируются в сети. Подобные импульсы по сети проходят к потребителям и приводят к выходу из строя дорогостоящей промышленной и бытовой техники и электроники.
  
  %p Одним из основных вариантов экономии электроэнергии и повышения эффективности работы электроприборов и электроустановок является снижение потребляемой из сети реактивной мощности с одновременным повышением качества электроэнергии непосредственно в сетях потребителя.
  
  %p Эти задачи успешно решают энергосберегающие устройства.
    
  %p Энергосберегатель подключают в цепь «генератор-нагрузка» параллельно нагрузке после электросчётчика. При этом реактивные токи совершают локальные колебания между индуктивными элементами нагрузки и статическим преобразователем, а не циркулируют по сети переменного тока между питающим трансформатором и нагрузкой. Наличие в данном устройстве элементов для измерения и регулирования электрического тока позволяет пропустить активную электрическую мощность из сети в нагрузку, а реактивный ток перенаправлять в ту фазу нагрузки, в которой он в данный момент требуется. При этом происходит автоматическая стабилизация входного коэффициента мощности на уровне, близком к единице, а полезная мощность в нагрузке возрастает, за счет преобразования реактивной энергии в дополнительную активную.
  %p Экономия электроэнергии на 15-45 % достигается за счет совершенствования и нормализации структуры электрического потока, динамичного поглощения или освобождения реактивной мощности, сокращение вредных гармоник и вредных электромагнитных волн, сокращения потерь на сопротивление, устранения скачков напряжения в сети.

  %h2 Принцип работы бытовых энергосберегающих устройств
    
  %p Все модели статических энергосберегающих устройств условно состоят из пяти основных модулей, согласованная работа которых обеспечивает снижение потребления энергии:
  
  %h3 Модуль управления с программируемым контроллером.

  %p
    %strong Назначение:
    равномерно распределяет нагрузку, улавливает реактивную энергию и частично преобразует её в активную энергию.<br/>
    %strong Результат:
    снижает потребление энергии и обеспечивает экономию потребления электроэнергии на 15-45%.
      
  %h3 Модуль молниезащиты/защиты от перенапряжений.

  %p
    %strong Назначение:
    Обеспечивает полную защиту электроприборов от разряда молнии и скачков напряжения в сети.<br/>
    %strong Результат:
    Исключает необходимость приобретения отдельного оборудования для защиты электроприборов и оборудования.
      
  %h3 Модуль активной фильтрации.
    
  %p
    %strong Назначение:
    устраняет токи высших гармоник в проводах, сглаживает нелинейные искажения.<br/>
    
    %strong Результат:
    предотвращает преждевременный выход из строя электронной техники и систем, продлевает их срок службы.
      
  %h3 Модуль корректировки коэффициента мощности.
    
  %p
    %strong Назначение:
    повышает коэффициент мощности электроприборов, перераспределяя реактивную мощность.<br/>
    
    %strong Результат:
    способствует экономии в потреблении энергии, снижает электрические потери вследствие нагрева проводки.

  %h3 Модуль фазовой компенсации.
    
  %p
    %strong Назначение:
    равномерно распределяет нагрузку по каждой фазе.<br/>
    %strong Результат:
    способствует экономии в потреблении энергии, снижает стоимость технического обслуживания оборудования.


  %p Важнейшим моментом в эксплуатации статических энергосберегающих устройств является то, что данное устройство, при его подключении к сети, обладает наименьшим сопротивлением в электрической системе. Следовательно, вся энергия воспринимается устройством со стороны нагрузки. Таким образом, исключается необходимость подключения отдельного статического преобразователя к каждой отдельной нагрузке в цепи. Один статический энергосберегатель может распределять энергию, поступающую от основного источника питания или от трансформатора, на все устройства, подключённые к электрической сети.
  
  
  %h3 Технические характеристикии энергосберегателя
    
  %ul
    %li Номинальное напряжение: 90 ~ 250 В
    %li Номинальная частота: 50 Гц ~ 60 Гц
    %li Температура окружающей среды: от - 6° до +75° С
    %li Предельная нагрузка: 25 кВт
    
    
    
    
