    body {
        background-color: #fff;
        color: #444;
        font-family: arial, helvetica, verdana, sans-serif;
        padding: 0px;
        margin: 0;
        text-align: center;
    }
    
    #toptop {
      background-color: black;
      color: white;
      margin: 0;
      padding: 0;
      height: 40px;
      text-align: center;
    }
    
    #toptop #head {
      width: 940px;
      margin: 0 auto;
    }
    
    
    #toptop #phone {
      float: right;
      font-size: 20px;
      margin-top: 3px;
    }
    
    #toptop #phone span {
      font-size: 13px;
      display: block;
    }
    
    #top-menu {
        list-style-type: none;
        padding: 10px 0px;
        margin: 0px auto;
        text-align: left;
        float: left;
      
    }
    
    #top-menu a {
      color: #ddd;
      font-size: 14px;
      text-transform: uppercase;
    }
    
    #top-menu li {
      display: inline;
      margin-right: 15px;
      padding-top: 13px;
    }
    
    
    /****************** CONTENT ***************/
    #content {
      width: 960px;
      margin: 0 auto;
      text-align: left;
      padding-bottom: 100px;
    }
    
    #content h1 {
        font-weight: normal;
        margin-bottom: 36px;
        margin-left: 7px;
        margin-top: 35px;
        margin-bottom: 45px;
        font-size: 32px !important;
    }
    
    h1#energo {
      float: left;
    }
    
    #home-price {
      margin-top: 36px;
      float: right;
      font-size: 24px;
      margin-right: -190px;
      
    }
    
    #sub-price {
      font-size: 15px;
      margin-top: 3px;
    }
    
    #home-price strong {
      color: #0a0;
    }
    
    
    #content #tabs li {
        display: inline;
        list-style-type: none;
        padding: 0;
        margin: 0 5px 0 7px;
        height: auto;
    }
    
    #tabs {
        border-bottom: solid 1px #999;
        padding: 0 0 11px 0 !important;
        margin: 0;
        height: 19px;
        
    }
    
    #tabs ul {
        padding: 0;
        margin: 0;
        display: block;
        float: left;
        
       
    }
    
    
    #tabs a {
        color: #888;
        font-size: 14px;
        text-decoration: none;
        
        padding: 13px 18px;
        margin: 0;
        
        background-color: #eeeeee;
    }
    
    #tabs a.selected {
        border-left: solid 1px #bbb;
        border-top: solid 1px #bbb;
        border-right: solid 1px #bbb;
        border-bottom: solid 1px #fff;
        background-color: #fff;
        color: #000;
    }
    
    a.gold-button {
        background: url('/images/btn_gold_bg.jpg') repeat-x scroll left top #FFCB4F !important;
        
        padding: 8px 33px !important;
        color: #000 !important;
        font-size: 14px !important;
        font-weight: bold;
        float: right;
        
        margin: -9px 0px 0px 30px !important;
        display: block !important;
        
        border-bottom: solid 1px #CA8B08 !important;
        border-left: solid 1px #CA8B08 !important;
        border-right: solid 1px #CA8B08 !important;
        border-top: solid 1px #FFC23B !important;
    }
    
    /*************** DEVICE FEATURES **************/
    
    .clear {
      clear: both;
    }
    
    #device {
      background: url("/images/sd-0022_main.jpg") no-repeat 180px 0px;
      width: 960px;
      height: 800px;
      margin-top: 20px;

    }
    
    #device div {
      float: left;
    }
    
    .feature {
      background: url('/images/smlPanelOuter.png') no-repeat;
      width: 180px;
      height: 195px;
      padding: 5px 25px;
      margin-top: 36px;
    }
    
    .feature h3 {
      margin-top: 20px;
      margin-bottom: -5px;
    }
    
    .feature p {
        font-size: 15px;
    }
    

  /****************** ARTICLE *****************/
  
  .article {
    clear: both;
    margin: 20px 0px;
  }
  
  #delivery h3 {
    color: #555;
  }

    
    
    /**************** FOOTER ****************/
    
    #footer {
        background-color: #141414;
        color: #ddd;
        height: 45px;
        padding: 9px 0px;
        font-size: 12px;
    }
    
    #footer a {
      color: #fff;
      background: none;
    }
    
    #footer a:hover {
      background: none;
    }

/********************** ORDER FORM ***********************/

form#new_order {
  margin-top: -40px;
}

.new_order_fieldset {
  width: 420px;
  border: solid 1px #d2d2d2;
  background: #fafafa;
  margin-bottom: 18px;
  margin-right:  24px;
  padding: 9px 0px 0px 13px;
  
  float: left;
}

#price {
  float: left;
  font-size: 25px;
  padding-top: 17px;
  width: 420px;
  height: 40px;  
}

#price strong {
  color: #0a0;
}

#price #old {
  color: #c00;
  text-decoration: line-through;
  padding-left: 20px;
}

.new_order_fieldset input, .new_order_fieldset textarea {
  border:solid 1px #d2d2d2;
  padding: 3px;
  font-size: 13px;
}

#new_order_fieldset legend {
  background-color: #eee;
  padding: 1px 6px;
}

#order_submit {
  font-size: 22px;

  clear: both;
}

#order_index_error {
  color: #f00;
}



/************************* DONE **************************/

#order_num {
  background-color: #5f5;
  padding: 4px 6px;
}


/******************* ORDERS LIST *********************/

#orders td {
  padding: 5px 7px;
}

#orders .line_odd td {
  background-color: #ddd;
}

#orders .client-name {
  color: #000;
}

#orders .address {
  color: #555;
}

#orders .actions {
  text-align: right;
}


/******************* ORDER SHOW ****************/

.gray {
  color: #777;
}
