body {
  text-align: center;
}

#box {
  width: 780px;
  text-align: left;
  margin: 0 auto;
}

#menu {
  font-size: 120%;
}

#footer {
  border-top: solid 1px gray;
  margin-top: 27px;
}

/********************** ORDER FORM ***********************/
#new_order_fieldset {
  width: 500px;
  border: solid 1px gray;
}

#new_order_fieldset legend {
  background-color: #5f5;
  padding: 1px 6px;
}

#order_submit {
  font-size: 22px;
}



/************************* DONE **************************/

#order_num {
  background-color: #5f5;
  padding: 4px 6px;
}
