<h2>Прибор энергосберегающий СД-2</h2>

<img src='/images/sd-0022.jpg' alt='Прибор энергосберегающий СД-2' />
<p>Для рационального использования электроэнергии требуется найти способы экономии электроэнергии при ее передаче, распределения и потребления с минимальными потерями. Для этого необходимо исключить из электрических сетей все факторы, приводящие к возникновению потерь. Одним из них является запаздывание фазы протекающего тока от напряжения при наличии индуктивной нагрузки, поскольку нагрузки в бытовых электросетях носят обычно <nobr>активно-индуктивный</nobr> характер. Активная энергия преобразуется в полезную &mdash; механическую, тепловую и др. энергии. Реактивная энергия не связана с выполнением полезной работы, а расходуется на создание магнитных полей и создаёт дополнительную нагрузку на силовые линии питания, <nobr>т. к.</nobr> она распространяется по сети, не рассеиваясь в активных элементах, а совершая колебательные движения от нагрузки к генератору и обратно. Доля потребляемой реактивной мощности в сети, в зависимости от вида полезной нагрузки, может составлять <strong>от 15% до 45%</strong> от полного тока нагрузки. Эти 15% &mdash; 45% электроэнергии и можно сэкономить, <nobr>т. к.</nobr> реактивная мощность наряду с активной мощностью учитывается поставщиком электроэнергии и подлежит оплате. Потребителем по действующим тарифам.</p>
      
      <h2>Как это работает:</h2>
      <p><strong>Устройство для экономии электроэнергии</strong> подключают в цепь <nobr>&laquo;генератор-нагрузка&raquo;</nobr> параллельно нагрузке после электросчётчика. При этом реактивные токи совершают локальные колебания между индуктивными элементами нагрузки и статическим преобразователем, а не циркулируют по сети переменного тока между питающим трансформатором и нагрузкой. Наличие в данном устройстве элементов для измерения и регулирования электрического тока позволяет пропустить активную электрическую мощность из сети в нагрузку, а реактивный ток перенаправлять в ту фазу нагрузки, в которой он в данный момент требуется. При этом происходит автоматическая стабилизация входного коэффициента мощности на уровне, близком к единице, а полезная мощность в нагрузке возрастает, за счет преобразования реактивной энергии в дополнительную активную.</p>
      <p>Экономия электроэнергии на 15&ndash;45% достигается за счет совершенствования и нормализации структуры электрического потока, динамичного поглощения или освобождения реактивной мощности, сокращение вредных гармоник и вредных электромагнитных волн, сокращения потерь на сопротивление, устранения скачков напряжения в сети.</p>
      


<%= render 'form'  %>


